extends ../layout/default
block header
    - var freeboard = 'active';
block contents
    //- create post madal
    div(role="dialog").modal.fade#createPost
        .modal-dialog
            .modal-content
                .modal-header
                    button(data-dismiss="modal").close &times;
                    h4.modal-title Post
                form(action="/freepost/create" method="post")
                    .modal-body
                        label Title
                        input(type="text" name="title" placeholder="Title").form-control
                        label Contents
                        textarea(name="contents" rows="20" style="resize: none;").form-control
                    .modal-footer
                        input(type="submit" value="Submit").btn.btn-default
                        button(data-dismiss="modal").btn.btn-default Close
    //- div(role="dialog").modal.fade#editPost
    //-     .modal-dialog
    //-         .modal-content
    //-             .modal-header
    //-                 button(data-dismiss="modal").close &times;
    //-                 h4.modal-title Post
    //-             form(action="freepost/create" method="post")
    //-                 .modal-body
    //-                     label Title
    //-                     input(type="text" name="title" value=post.title placeholder="Title").form-control
    //-                     label Contents
    //-                     textarea(name="contents" rows="20" style="resize: none;").form-control=post.contents
    //-                 .modal-footer
    //-                     input(type="submit" value="Submit").btn.btn-default
    //-                     button(data-dismiss="modal").btn.btn-default Close
    #page-wrapper
        .container-fluid
            .row
                .col-md-12
                    h1(style="display:inline-block").page-header
                        | Freeboard
                    .upload
                        a(data-toggle="modal" href="#createPost")
                            .pt_new
                                i.fa.fa-edit
            .row
                .col-md-12
                    ol.breadcrumb
                        li.active
                            i.fa.fa-edit
                                |  Freeboard
                    .FreePostList
                        input(type="hidden" value=page name="page")
                        input(type="hidden" value=pages name="pages")
                        each post in posts
                            .well
                                .media
                                    a.pull-left
                                        if(post.writer.profileImage)
                                            img(src=post.writer.profileImage style="width:100px;height:100px;").media-object
                                        else
                                            img(src="/images/profile.png" style="width:100px;height:100px;").media-object
                                    .media-body
                                        h4.media-heading=post.title
                                        if(post.writer.id == user.id)
                                            p.text-right By #{post.writer.username} 
                                                //- a(data-toggle="modal" href="#editPost") 
                                                //-     i.fa.fa-edit.text-pink
                                                //-     | 
                                                a(href="/freepost/delete/"+post.id onclick="if(confirm('삭제하시겠습니까?')==false){return false;}")
                                                    i.fa.fa-trash.text-pink
                                                    | 
                                        else
                                            p.text-right By #{post.writer.username}
                                        p=post.contents
                                        ul.list-inline.list-unstyled
                                            li
                                                span
                                                    i.glyphicon.glyphicon-calendar
                                                    |  #{post.getCreated()}
                                            //- li |
                                            //- span
                                            //-     i.glyphicon.glyphicon-comment
                                            //-     |  2 comments
            .row
                .col-md-2
                div(style="text-align:center;").col-md-6
                    include ../part/pagination
                    +pagination(page,pages)                   