doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title HELPi
        link(rel="shortcut icon" href="images/HELPi-logo.png")
        //- Bootstrap Core CSS
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        //- Custom CSS
        link(href='/css/sb-admin.css', rel='stylesheet')
        //- Morris Charts CSS
        link(href='/css/plugins/morris.css', rel='stylesheet')
        //- Custom Fonts
        link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
        
        //- jQuery
        script(src='/js/jquery.js')
        //- Bootstrap Core JavaScript
        script(src='/js/bootstrap.min.js')
    body(onload="init()")
        block header
            - var dashboard = dashboard || '';
            - var private = private || '';
            - var public = public || '';
            - var fredboard = freeboard || '';
        block body
            //- Create Folder Modal
            div(role="dialog").modal.fade#createFolderModal
                .modal-dialog
                    .modal-content
                        form(action="/folder/create" method="post")
                            .modal-header
                                button(data-dismiss="modal").close &times;
                                h4.modal-title Create Folder
                            .modal-body
                                label Folder Name
                                input(type="text" name="foldername" placeholder="Enter Folder Name").form-control
                                input(type="hidden" name="type" value=type)
                                input(type="hidden" name="path" value=curPath)
                            .modal-footer
                                input(type="submit" value="Create").btn.btn-default
                                button(data-dismiss="modal").btn.btn-default Close
            //- Create Document Modal
            div(role="dialog").modal.fade#createDocumentModal
                .modal-dialog
                    .modal-content
                        form(action="/document/create" method="post" target="_blank")
                            .modal-header
                                button(data-dismiss="modal").close &times;
                                h4.modal-title Create Document
                            .modal-body
                                label Document Name
                                input(type="text" name="documentname" placeholder="Enter Document Name").form-control
                                input(type="hidden" name="type" value=type)
                                input(type="hidden" name="path" value=curPath)
                                hr
                                label Document Form
                                - var n = 0;
                                - var options = ['None','Mind Map','One Page Proposal','Requirement Document','Design Document','Test Case','User Manual']
                                select(name="docoption").form-control
                                    - while(n<7)
                                        option(value=n)=options[n]
                                        - n++
                            .modal-footer
                                input(type="submit" value="Create").btn.btn-default
                                button(data-dismiss="modal").btn.btn-default Close
            //- Profile Modal
            div(role="dialog").modal.fade#profileModal
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title Profile
                        form(action="/user/update" method="post" enctype="multipart/form-data" )
                            .modal-body
                                .row
                                    .col-md-6
                                        .form-group
                                            label User image
                                            if(user.profileImage)
                                                img(src=user.profileImage style="width:100%;height:100%;")#preview
                                            else
                                                img(src="images/profile.png" style="width:100%;height:100%;")#preview
                                            input(type="file" name="image" onchange="loadFile(event)").form-control
                                    .col-md-6
                                        .form-group
                                            label Name
                                            input(type="text" name="username" value=user.username).form-control
                                        .form-group
                                            label Email
                                            input(type="email" name="useremail" value=user.useremail).form-control
                                        .form-group
                                            label Password
                                            input#password(type="password" name="password").form-control
                                        .form-group
                                            label Confirm-Password
                                            input#confirm_password(type="password" name="confirm-password").form-control
                            .modal-footer
                                input(type="submit" value="Update").btn.btn-default
                                button(data-dismiss="modal").btn.btn-default Close
            //- Search User Modal
            div(role="dialog").modal.fade#searchUserModal
                .modal-dialog
                    .modal-content
                        .modal-header
                            button(data-dismiss="modal").close &times;
                            h4.modal-title Search User
                        .modal-body(style="height:500px;overflow:auto;")
                            label User Name
                            input(type="text" placeholder="Enter User Name").form-control#keyword
                            hr
                            table#user-table.table
                                thead
                                    tr
                                        th(width="10%") No.
                                        th User Name
                                        th User Email
                                        th(width="5%") Mail
                                tbody
                                    - var n = 1;
                                    each user in others
                                        tr
                                            td=n
                                            td=user.username
                                            td=user.useremail
                                            td(align="center")
                                                a(href="mailto:"+"sejong.400@gmail.com")
                                                    i.fa.fa-envelope
                                            - n++;
                        .modal-footer
                            button(data-dismiss="modal").btn.btn-default Close
            //- body
            #wrapper
                nav.navbar.navbar-inverse.navbar-fixed-top.boxshadow(role='navigation')
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/dashboard') HELPi
                    ul.nav.navbar-right.top-nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-user
                                |  #{user.username} 
                                span &nbsp;
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(data-toggle="modal" href="#profileModal" style="color: #fe4365;")
                                        i.fa.fa-fw.fa-user
                                        |  Profile
                                li
                                    a(href='/user/signout' style="color: #fe4365;")
                                        i.fa.fa-fw.fa-power-off
                                        |  Log Out
                    .collapse.navbar-collapse.navbar-ex1-collapse
                        ul.nav.navbar-nav.side-nav
                            li
                                a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                                    i.fa.fa-fw.fa-plus
                                    |  New Item 
                                    i.fa.fa-fw.fa-caret-down
                                ul#demo.collapse
                                    li
                                        a(data-toggle="modal" href="#createFolderModal")
                                            i.fa.fa-fw.fa-folder
                                            |  Create Folder
                                    li
                                        a(data-toggle="modal" href="#createDocumentModal")
                                            i.fa.fa-fw.fa-file
                                            |  Create Docuement
                            li &nbsp;
                            li(class=dashboard)
                                a(href='/dashboard')
                                    i.fa.fa-fw.fa-list-ul
                                    |  Dashboard
                            li(class=private)
                                a(href='/privateDocuments')
                                    i.fa.fa-fw.fa-folder-o
                                    |  Private Documents
                            li(class=public)
                                a(href='/publicDocuments')
                                    i.fa.fa-fw.fa-folder-open-o
                                    |  Public Documents
                            li(class=freeboard)
                                a(href='/freeboard')
                                    i.fa.fa-fw.fa-edit
                                    |  Freeboard
                            li(style="position:absolute;bottom:0;")
                                a(data-toggle="modal" href="#searchUserModal")
                                    i.fa.fa-fw.fa-search
                                    |  Search User
                block contents
                
        block footer
            //- modal script
            script.
                // validatePassword
                var password = document.getElementById("password")
                var confirm_password = document.getElementById("confirm_password");
                function validatePassword(){
                    if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords Don't Match");
                    } else {
                        confirm_password.setCustomValidity('');
                    }
                }
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
                var loadFile = function(event) {
                    var reader = new FileReader();
                    reader.onload = function(){
                        var output = document.getElementById('preview');
                        output.src = reader.result;
                    };
                    reader.readAsDataURL(event.target.files[0]);
                };
                // get Modal data
                $('#settingDocumentModal').on('show.bs.modal', function(e) {
                    var modal = $(this);
                    var id = $(e.relatedTarget).data('id');
                    $.ajax({
                        type: 'get',
                        url: '/document/show/'+id,
                        data: id,
                        success: function(document){
                            modal.find('.dcid').val(id);
                            modal.find('.dcname').val(document.documentname);
                            modal.find('.userlist').append('<a class="list-group-item">Owner : '+document.owner.username+'</li>');
                            document.partner.forEach(function(e){
                                modal.find('.userlist').append('<a class="list-group-item">Partner : '+e.username+'</li>');
                            })
                        }
                    });
                });
                $('#settingDocumentModal').on('hidden.bs.modal', function(e) {
                    var modal = $(this);
                    modal.find('.userlist').empty();
                });
                $('#settingFolderModal').on('show.bs.modal', function(e) {
                    var modal = $(this);
                    var id = $(e.relatedTarget).data('id');
                    $.ajax({
                        type: 'get',
                        url: '/folder/show/'+id,
                        data: id,
                        success: function(folder){
                            modal.find('.fdid').val(id);
                            modal.find('.fdname').val(folder.foldername);
                            modal.find('.userlist').append('<a class="list-group-item">Owner : '+folder.owner.username+'</li>');
                            folder.partner.forEach(function(e){
                                modal.find('.userlist').append('<a class="list-group-item">Partner : '+e.username+'</li>');
                            })
                        }
                    });
                });
                $('#settingFolderModal').on('hidden.bs.modal', function(e) {
                    var modal = $(this);
                    modal.find('.userlist').empty();
                });
                $('#searchUserModal').on('show.bs.modal', function() {
                    $("#keyword").keyup(function() {
                        var k = $(this).val();
                        $("#user-table > tbody > tr").hide();
                        var temp = $("#user-table > tbody > tr > td:nth-child(5n+2):contains('" + k + "')");
                        $(temp).parent().show();
                    })
                })
                // contextmenu
                $('.dc_fd').bind("contextmenu", function(event) { 
                    event.preventDefault();
                    $("div.custom-menu").hide();
                    var ObjectId = $(this).find('input').val();
                    $("<div class='custom-menu'>" +
                        "<ul class='nav'>" +
                        "<li><a class='text-pink' data-toggle='modal' data-id="+ObjectId+" href='#settingFolderModal' onclick=hideCustomMenu()><i class='fa fa-fw fa-gear'></i> Setting</a></li>" +
                        "<li><a class='text-pink' href='/folder/delete/"+ObjectId+"' onclick='if(deleteConfirmMessage()==false){return false;}'><i class='fa fa-fw fa-trash'></i> Delete</a></li></ul></div>")
                        .appendTo("body")
                        .css({top: event.pageY + "px", left: event.pageX + "px"});
                }).bind("click", function(event) {
                    $("div.custom-menu").hide();
                });
                $('.dc_fl').bind("contextmenu", function(event) { 
                    event.preventDefault();
                    $("div.custom-menu").hide();
                    var ObjectId = $(this).find('input').val();
                    $("<div class='custom-menu'>" +
                        "<ul class='nav'>" +
                        "<li><a class='text-pink' data-toggle='modal' data-id="+ObjectId+" href='#settingDocumentModal' onclick=hideCustomMenu()><i class='fa fa-fw fa-gear'></i> Setting</a></li>" +
                        "<li><a class='text-pink' href='/document/delete/"+ObjectId+"' onclick='if(deleteConfirmMessage()==false){return false;}'><i class='fa fa-fw fa-trash'></i> Delete</a></li></ul></div>")
                        .appendTo("body")
                        .css({top: event.pageY + "px", left: event.pageX + "px"});
                }).bind("click", function(event) {
                    $("div.custom-menu").hide();
                });
                $('.SpaceDiv').bind("contextmenu", function(event) { 
                    event.preventDefault();
                    $("div.custom-menu").hide();
                    $("<div class='custom-menu'>" +
                        "<ul class='nav'>" +
                        "<li><a class='text-pink' data-toggle='modal' href='#createFolderModal' onclick=hideCustomMenu()><i class='fa fa-fw fa-folder'></i> Create Folder</a></li>" +
                        "<li><a class='text-pink' data-toggle='modal' href='#createDocumentModal' onclick=hideCustomMenu()><i class='fa fa-fw fa-file'></i> Create Document</a></li></ul></div>")
                        .appendTo("body")
                        .css({top: event.pageY + "px", left: event.pageX + "px"});
                }).bind("click", function(event) {
                    $("div.custom-menu").hide();
                });
                function hideCustomMenu(){
                    $("div.custom-menu").hide();
                }
                function deleteConfirmMessage(){
                    hideCustomMenu();
                    return confirm('삭제하시겠습니까?');
                }