doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        title HELPi
        //- Bootstrap Core CSS
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        //- Custom CSS
        link(href='/css/sb-admin.css', rel='stylesheet')
        //- Morris Charts CSS
        link(href='/css/plugins/morris.css', rel='stylesheet')
        //- Custom Fonts
        link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    body
        block header
            - var dashboard = dashboard || '';
            - var private = private || '';
            - var public = public || '';
            - var fredboard = freeboard || '';
        block body
            //- Create Folder Modal
            div(role="dialog").modal.fade#createFolderModal
                .modal-dialog
                    .modal-content
                        form(action="/folder/create" method="post")
                            .modal-header
                                button(data-dismiss="modal").close &times;
                                h4.modal-title Create Folder
                            .modal-body
                                label Folder Name
                                input(type="text" name="foldername" placeholder="Enter Folder Name").form-control
                                input(type="hidden" name="type" value="private")
                                input(type="hidden" name="path" value=curPath)
                            .modal-footer
                                input(type="submit" value="Create").btn.btn-default
                                button(data-dismiss="modal").btn.btn-default Close
            //- Create Document Modal
            div(role="dialog").modal.fade#createDocumentModal
                .modal-dialog
                    .modal-content
                        form(action="/document/create" method="post" target="_blank")
                            .modal-header
                                button(data-dismiss="modal").close &times;
                                h4.modal-title Create Document
                            .modal-body
                                label Document Name
                                input(type="text" name="documentname" placeholder="Enter Document Name").form-control
                                input(type="hidden" name="type" value="private")
                                input(type="hidden" name="path" value=curPath)
                                hr
                                label Document Form
                                - var n = 0;
                                - var options = ['없음','Mind Map','One Page Proposal','Requirement Document','Design Document','Test Case','User Manual','Final Presentation']
                                select(name="docoption").form-control
                                    - while(n<8)
                                        option(value=n)=options[n]
                                        - n++
                            .modal-footer
                                input(type="submit" value="Create").btn.btn-default
                                button(data-dismiss="modal").btn.btn-default Close
            //- Search User Modal
            div(role="dialog").modal.fade#searchUser
                .modal-dialog
                    .modal-content
                        .modal-header
                            button(data-dismiss="modal").close &times;
                            h4.modal-title Search User
                        .modal-body(style="height:500px;overflow:auto;")
                            label User Name
                            input(type="text" placeholder="Enter User Name").form-control#keyword
                            hr
                            table#user-table.table
                                thead
                                    tr
                                        th(width="10%") No.
                                        th User Name
                                        th User Email
                                        th(width="5%") Mail
                                tbody
                                    - var n = 1;
                                    each user in others
                                        tr
                                            td=n
                                            td=user.username
                                            td=user.useremail
                                            td(align="center")
                                                a(href="mailto:"+"sejong.400@gmail.com")
                                                    i.fa.fa-envelope
                                            - n++;
                        .modal-footer
                            button(data-dismiss="modal").btn.btn-default Close
            //- body
            #wrapper
                nav.navbar.navbar-inverse.navbar-fixed-top.boxshadow(role='navigation')
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='/dashboard') HELPi
                    ul.nav.navbar-right.top-nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-envelope
                                span &nbsp;
                                b.caret
                            ul.dropdown-menu.message-dropdown
                                li.message-preview
                                    a(href='#')
                                        .media
                                            span.pull-left
                                                img.media-object(src='http://placehold.it/50x50', alt='')
                                            .media-body
                                                h5.media-heading
                                                    strong John Smith
                                                p.small.text-muted
                                                    i.fa.fa-clock-o
                                                    |  Yesterday at 4:32 PM
                                                p Lorem ipsum dolor sit amet, consectetur...
                                li.message-preview
                                    a(href='#')
                                        .media
                                            span.pull-left
                                                img.media-object(src='http://placehold.it/50x50', alt='')
                                            .media-body
                                                h5.media-heading
                                                    strong John Smith
                                                p.small.text-muted
                                                    i.fa.fa-clock-o
                                                    |  Yesterday at 4:32 PM
                                                p Lorem ipsum dolor sit amet, consectetur...
                                li.message-preview
                                    a(href='#')
                                        .media
                                            span.pull-left
                                                img.media-object(src='http://placehold.it/50x50', alt='')
                                            .media-body
                                                h5.media-heading
                                                    strong John Smith
                                                p.small.text-muted
                                                    i.fa.fa-clock-o
                                                    |  Yesterday at 4:32 PM
                                                p Lorem ipsum dolor sit amet, consectetur...
                                li.message-footer
                                    a(href='#') Read All New Messages
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-bell
                                span &nbsp;
                                b.caret
                            ul.dropdown-menu.alert-dropdown
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-default Alert Badge
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-primary Alert Badge
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-success Alert Badge
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-info Alert Badge
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-warning Alert Badge
                                li
                                    a(href='#')
                                        | Alert Name 
                                        span.label.label-danger Alert Badge
                                li.divider
                                li
                                    a(href='#') View All
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-user
                                |  #{user.username} 
                                span &nbsp;
                                b.caret
                            ul.dropdown-menu
                                //- li
                                //-     a(href='#')
                                //-         i.fa.fa-fw.fa-user
                                //-         |  Profile
                                //- li
                                //-     a(href='#')
                                //-         i.fa.fa-fw.fa-envelope
                                //-         |  Inbox
                                //- li
                                //-     a(href='#')
                                //-         i.fa.fa-fw.fa-gear
                                //-         |  Settings
                                //- li.divider
                                li
                                    form(action="/user/signout" method="post")
                                        a(href='#' onclick="this.parentNode.submit(); return false;")
                                            i.fa.fa-fw.fa-power-off
                                            |  Log Out
                    .collapse.navbar-collapse.navbar-ex1-collapse
                        ul.nav.navbar-nav.side-nav
                            li
                                a(href='javascript:;', data-toggle='collapse', data-target='#demo')
                                    i.fa.fa-fw.fa-plus
                                    |  New Item 
                                    i.fa.fa-fw.fa-caret-down
                                ul#demo.collapse
                                    li
                                        a(data-toggle="modal" href="#createFolderModal")
                                            i.fa.fa-fw.fa-folder
                                            |  Create Folder
                                    li
                                        a(data-toggle="modal" href="#createDocumentModal")
                                            i.fa.fa-fw.fa-file
                                            |  Create Docuement
                            li &nbsp;
                            li(class=dashboard)
                                a(href='/dashboard')
                                    i.fa.fa-fw.fa-list-ul
                                    |  Dashboard
                            li(class=private)
                                a(href='/privateDocuments')
                                    i.fa.fa-fw.fa-folder-o
                                    |  Private Documents
                            li(class=public)
                                a(href='/publicDocuments')
                                    i.fa.fa-fw.fa-folder-open-o
                                    |  Public Documents
                            li(class=freeboard)
                                a(href='/freeboard')
                                    i.fa.fa-fw.fa-edit
                                    |  Freeboard
                            li(style="position:absolute;bottom:0;")
                                a(data-toggle="modal" href="#searchUser")
                                    i.fa.fa-fw.fa-search
                                    |  Search User
                block contents
                
        block footer
            //- jQuery
            script(src='/js/jquery.js')
            //- Bootstrap Core JavaScript
            script(src='/js/bootstrap.min.js')
            //- modal script
            script.
                $('#settingDocumentModal').on('show.bs.modal', function(e) {
                    var modal = $(this);
                    var id = $(e.relatedTarget).data('dc-id');
                    var name = $(e.relatedTarget).data('dc-name');
                    modal.find('.dcid').val(id);
                    modal.find('.dcname').val(name);
                });
                $('#settingFolderModal').on('show.bs.modal', function(e) {
                    var modal = $(this);
                    var id = $(e.relatedTarget).data('fd-id');
                    var name = $(e.relatedTarget).data('fd-name');
                    modal.find('.fdid').val(id);
                    modal.find('.fdname').val(name);
                });
                $('#searchUser').on('show.bs.modal', function() {
                    $("#keyword").keyup(function() {
                        var k = $(this).val();
                        $("#user-table > tbody > tr").hide();
                        var temp = $("#user-table > tbody > tr > td:nth-child(5n+2):contains('" + k + "')");

                        $(temp).parent().show();
                    })
                })